@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.top-section {
  background-color: #2a2c30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.top-text {
  color: white;
}

.sign-in-up {
  display: flex;
  gap: 2rem;

  & a {
    text-decoration: none;
    color: #646cff;
    font-size: 1.2rem;
  }

  & a:hover {
    color: #535bf2;
  }
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  cursor: pointer;
  font-size: 110%;
  background-color: #eaebf5;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  font-weight: 500;
}

.menu a:not(.cart-button) {
  position: relative;
  text-decoration: none;
  color: #1e1f23;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    border-bottom: 0.1rem solid #646cff;
    transition: all 0.3s linear;
  }
}

.menu a:not(.cart-button):hover::after {
  width: 100%;
}

.menu a:hover {
  color: #535bf2;
}

.cart-button {
  background-color: #2a2c30;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.4rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
